body {
    font-family: "Courier New";
    background-color : lightblue;
    color: yellow;
}

h1 {
    padding: 50px;
    width: 100%;
    background-color: pink;
}

h2 {
    background-color: lightgreen;
}

header h1 {
    background-color: rgb(231, 142, 231);
}
