{% extends 'layout.html'%}
{% block content %}

<br>
<ul>
    <div class="centering">
        {% for item in channel_names %}
            <li class="names"><h2><a href="/channel/{{item[0]}}">{{item[1]}}</h2><img class="images" img src="{{item[2]}}"/></a></li>
        {% endfor %}
    </div>
</ul>

<div class="centering"></div>
<ul>
    {% for item in channel_names %}
        <li class="names"><h2><a href="/channel/{{item[0]}}">{{item[1]}}</h2><img class="images" img src="{{item[2]}}"/></a></li>
    {% endfor %}
</ul>
</div>
{% endblock %}