{% extends 'layout.html'%}
{% block content %}

<br>
<ul>

{% for item in channel_names %}
<!-- class = "rows" is how the images and names layout -->
    <li class="bigspacing"><h2><a href="/channel/{{item[0]}}">{{item[1]}}</h2><br><img class="testing" img src="{{item[2]}}"/></a></li>
{% endfor %}
</ul>


<div class="rows">
    {% for item in channel_names %}
    <div class="columns">
        <h2><a href="/channel/{{item[0]}}">{{item[1]}}</h2><br><img class="testing" img src="{{item[2]}}"/></a>
    </div>
    {% endfor %}
</div>

{% endblock %}