{% extends "layout.html" %}
{% block content %}

<p>NAME: {{channel[1]}}</p>
{{channel[2]}}
{{channel[3]}}
{{channel[4]}}
{{channel[5]}}

{{other_channels[0]}}
{{other_channels[1]}}

{% if other_channels is not none %}
    <img src="{{other_channels[2]}}"/>
{% endif %}

{% if merch_link is not none %}
<a href="{{merch_link[0]}}" target="_blank">Merch</a>
{% endif %}

<br>
{% for item in channel_member %}
    <a href="/member/{{item[0]}}">
    <img src="{{item[2]}}"/>
    <figcaption>{{item[1]}}</figcaption>
    </a> &nbsp;
{% endfor %}

{% for item in channel_genre %}
    <a href="/genre/{{item[0]}}"> {{item[1]}}</a> &nbsp;
{% endfor %}

{% if channel is not none %}
    <img src="{{channel[7]}}"/>
{% endif %}


{{channel_2[0]}}

{% if channel_2 is not none %}
    <img src="{{channel_2[1]}}"/>
{% endif %}

{% for i in range(website_order|length) %}
    <a href="{{website_order[i][1]}}" target="_blank">
        {{website_order[i][0]}}
    </a>
{% endfor %}

{% endblock %}
