{% extends "layout.html" %}
{% block content %}
<br>
{% if channel[4] is not none %}
    <img src="{{channel[7]}}"/>
    <div class="details">
        <!--https://stackoverflow.com/questions/74254589/html-css-h3-and-p-tag-on-one-row#:~:text=Both%20h3%20and%20p%20are,or%20display%3A%20inline%2Dblock%20.-->
        <!--this is how to have different sized fonts on the same line-->
        <p><span>Name: </span>{{channel[1]}}</p>
        <p><span>Subscriber Count: </span>{{channel[2]}}</p>
        <p><span>Total Views: </span>{{channel[3]}}</p>
        <p><span>Total Videos: </span>{{channel[4]}}</p>
        <p><span>Date Joined: </span>{{channel[5]}}</p>
    </div>
{% endif %}

<!---------------------------------------------------------->
{% if channel[4] is none %}
    <img src="{{channel[7]}}"/>
    <div class="details">
        <p><span>Name: </span>{{channel[1]}}</p>
        <p><span>Subscriber Count: </span>{{channel[2]}}</p>
    </div>
{% endif %}
<br>

<!---------------------------------------------------------->
{% if merch_link is not none %}
    <div class="merch_details">
        <h3>Merchandise</h3>
    </div>
    <a href="{{merch_link[0]}}" target="_blank" class="merchlink"><p><span>Merch Available at: </span>{{merch_link[0]}}</p></a>
{% endif %}

<!---------------------------------------------------------->
<ul>
<div class="titles">
    <h3>Members</h3>
</div>
{% for item in channel_member %}
    <li class="spacing"><a href="/member/{{item[0]}}">
    <img class="smallpic" src="{{item[2]}}"/>
    <figcaption>{{item[1]}}</figcaption>
    </a> &nbsp;</li>
{% endfor %}
</ul>

<!---------------------------------------------------------->
<ul>
<div class="titles">
    <h3>Genres</h3>
</div>
{% for item in channel_genre %}
    <li class="spacing"><a href="/genre/{{item[0]}}">
    <img class="smallpic" src="{{item[2]}}"/>
    <figcaption>{{item[1]}}</figcaption>
    </a> &nbsp;</li>
{% endfor %}
</ul>

<!---------------------------------------------------------->
{% if channel_2 is not none %}
    <div class="titles">
        <h3>Main Channel</h3>
    </div>
    <a href="{{channel_2[0]}}">
    <img class="smallpic" src="{{channel_2[2]}}"/>{{channel_2[1]}}
    </a>
{% endif %}

<!---------------------------------------------------------->
<!--{% for i in range(website_order|length) %}
    <a href="{{website_order[i][1]}}" target="_blank">
        {{website_order[i][0]}}
    </a>
{% endfor %} -->

{% if social_link and social_name is not none %}
    <div class="titles">
        <h3>Socials</h3>
    </div>
    {% for i in range(website_order|length) %}
        <a href="{{website_order[i][1]}}" target="_blank">
        <img class="smallpic"src="{{website_order[i][2]}}">
        </a>
{% endfor %}
{% endif %}
{% endblock %}
