{% extends "layout.html" %}
{% block content %}
<br>
<img src="{{genre[2]}}"/>
<div class="details">
    <p><span>Name:   </span>{{genre[1]}}</p>
</div>
<!------------------------------------------------>

<ul>
    <div class="titles">
        <h3>Channels</h3>
    </div>
    {% for item in genre_channel %}
        <li class="spacing"><a href="/channel/{{item[0]}}">
        <img class="smallpic" src="{{item[2]}}"/>
        <figcaption>{{item[1]}}</figcaption>
        </a> &nbsp;</li>
    {% endfor %}
    </ul>
<!------------------------------------------------>

{% endblock %}