<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/static/css/style.css" link>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <body>
        <header>
            {% include "header.html" %}
        </header>
        <nav>
            {% include "nav.html" %}
        </nav>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            {% include "footer.html" %}
        </footer>
        <script src = "/static/js/js.js"></script>
    </body>
</html>