{% extends "layout.html" %}
{% block content %}
{{member[1]}}
{{member[2]}}
<img src="{{member[3]}}"/>

<!-- 
{% for item in member_channel %}
    {{item[1]}},&nbsp;
    <img src="{{item[2]}}"/>
{% endfor %}
-->
<br>
{% for item in member_channel %}
    <a href="/channel/{{item[0]}}">
    <img src="{{item[2]}}"/>
    <figcaption>{{item[1]}}</figcaption>
    </a> &nbsp;
{% endfor %}

<!-- 
{% for i in range(social_order|length) %}
    <a href="{{social_order[i][1]}}" target="_blank">
        {{social_order[i][0]}}
    </a>
{% endfor %}
-->

{% for i in range(social_order|length) %}
    <a href="{{social_order[i][1]}}" target="_blank">
    <img src="{{social_order[i][2]}}">
    </a>
{% endfor %}

{% endblock %}