<!--https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_topnav-->
<div class="topnav" id="myTopnav">
    <hr>
    <h2><img src="/static/images/youtubelogo.jpg">
        <a href="/">HOME</a>
        <a href="/all_channels">CHANNELS</a>
        <a href="/all_members">MEMBERS</a>
        <a href="/all_socials">SOCIALS</a>
        <a href="/all_genres">GENRES</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i></a>
    </h2>
    <hr>
</div>
<hr>