{% extends "layout.html" %}
{% block content %}
<img src="{{social[2]}}"/>
<div class="details">
    <p><span>Name:   </span>{{social[1]}}</p>
</div>
<!------------------------------------------------------------->
<ul>
    <div class="titles">
        <h3>Channels</h3>
    </div>
    {% for item in social_channel %}
        <li class="spacing"><a href="{{social_link[0]}}" target="_blank">
        <img class="smallpic" src="{{item[1]}}"/>
        <figcaption>{{item[0]}}</figcaption>
        </a> &nbsp;</li>
    {% endfor %}
</ul>
<!------------------------------------------------------------->
<ul>
    <div class="titles">
        <h3>YouTubers</h3>
    </div>
    {% for item in social_member %}
        <li class="spacing"><a href="{{social_memberlink[0]}}" target="_blank">
        <img class="smallpic" src="{{item[1]}}"/>
        <figcaption>{{item[0]}}</figcaption>
        </a> &nbsp;</li>
    {% endfor %}
</ul>

{% endblock %}